<style>
  .area{
    width: 500px;
    height: 150px;
  }
  #title{
    width: 500px;
  }
</style>

<%= form_with(model: post, local: true) do  %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Тема
    <%= text_field_tag :title, nil, class: "form-control tit" %>
  </div>

  <div class="field">
    Текст
    <textarea id="text" name ="text" type="text" class="form-control area"></textarea>
  </div>

  <div class="actions">
    <%= submit_tag "Отправить",class: "btn-primary" %>
  </div>
<% end %>
